<!doctype html>
<html>
<head>
    <% include ../head %>
</head>
<body>
<div class="page-header text-center">
    <h1><span class="fa fa-list"></span> Tasks</h1>
    <header>
        <% include ../header %>
    </header>
</div>
<%= message %>
<div class="row">
    <div class="col-sm-10">
        <div class="well">
            <h3> All tasks </h3>


            <form action="/todoList/<%= oneList.listSlug %>" method="post">
                <div class="row">
                    <div class="form-group">
                        <input  type="text" placeholder="task name" class="form-control" name="addNewTask">
                    </div>
                    <div class="form-group">
                        <input type="text" id="datepicker" placeholder="Deadline" class="form-control" name="taskDeadline">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="listId" value="<%= oneList._id %>" >
                    </div>
                    <div class="column">
                        <button type="submit" class="btn btn-primary btn-lg">Add new</button>
                    </div>
                </div>
            </form>
            <br>
            <table>
                <tr>
                    <td>

                    </td>
                    <td>
                        Task
                    </td>
                    <td>
                        Dead line
                    </td>
                    <td>
                        Completed
                    </td>
                    <td>

                    </td>
                </tr>
                <% tasks.forEach(function(task) { %>
                <tr class="borderTable">
                    <td>
                        <form action="/todoList/<%= oneList.listSlug %>/<%= task.taskSlug %>" method="get">
                            <input type="submit" class="btn btn-default pull-right" value="Edit">
                        </form>
                    </td>
                    <td>
                        <%= task.taskName %>
                    </td>

                    <td>
                        <%= task.taskDeadline.toUTCString() %>
                    </td>
                    <td>
                        <% if(!task.taskCompleted){ %>
                        <form action="/todoList/<%= oneList.listSlug %>/taskCompleted/<%= task._id%>" method="post">
                            <input type="submit" class=".btn btn-warning" value="Complete">
                        </form>
                        <% } else{ %>
                        <p>Task completed</p>
                        <% } %>

                    </td>
                    <td>
                        <form action="/todoList/<%= oneList.listSlug %>/<%= task._id %>" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" class="btn btn-danger pull-right" value="Delete">
                        </form>
                    </td>
                </tr>
                <% }); %>
            </table>

        </div>
    </div>
</div>
<footer>
    <% include ../footer %>
</footer>
</body>
</html>
