<!doctype html>
<html>
<head>
    <% include ../head %>
</head>
<body>
<div class="page-header text-center">
    <h1><span class="fa fa-list"></span> Tasks</h1>
    <header>
        <% include ../header %>
    </header>
</div>
<%= message %>
<div class="row">
    <div class="col-sm-10">
        <div class="well">
            <h3> All tasks </h3>


            <form action="/todoList/<%= task._listId[0].listSlug %>/<%= task.taskSlug %>" method="post">
                <div class="row">
                    <div class="form-group">
                        <input  type="text" placeholder="task name" class="form-control" name="taskName" value="<%= task.taskName %>">
                    </div>
                    <div class="form-group">
                        <input type="text" id="datepicker" class="form-control" name="taskDeadline" value="<%= task.taskDeadline %>">
                    </div>
                    <div class="form-group">
                        <label>Task completed?</label>
                        <label class="radio-inline">
                            <input type="radio" name="taskCompleted" value="1" <%= task.taskCompleted ? 'checked' : '' %>>Yes</label>
                        <label class="radio-inline">
                            <input type="radio" name="taskCompleted" value="0" <%= task.taskCompleted ? '' : 'checked' %>>No</label>
                    </div>
                    <div class="column">
                        <input type="hidden" name="_method" value="put"/>
                        <button type="submit" class="btn btn-primary btn-lg">Update</button>
                    </div>
                </div>
            </form>
            <br>

        </div>
    </div>
</div>
<footer>
    <% include ../footer %>
</footer>
</body>
</html>
