<!doctype html>
<html>
<head>
    <% include ../head %>
</head>
<body>

    <div class="page-header text-center">
        <h1><span class="fa fa-list"></span>Todo lists</h1>
        <header>
            <% include ../header %>
        </header>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <div class="well">
                <h3> All lists </h3>
                <br>
                <form action="/todoList" method="post">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" name="addNewList" class="form-control" placeholder="create new list">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">add new List</button>
                        </span>
                        </div>
                    </div>
                </form>
                <div>
                <table>
                    <% lists.forEach(function(list) { %>
                        <tr>
                            <td>
                                <form action="/todoList/<%= list.listSlug %>" method="post">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <input type="submit" class="btn btn-danger pull-right" value="Delete">
                                </form>
                            </td>
                            <td>
                                <a href="/todoList/<%= list.listSlug %>"><%= list.listName %></a>
                            </td>
                        </tr>
                    <% }); %>
                </table>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../footer %>
    </footer>
</body>
</html>