<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/profile">Profile</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/todoList">Todo</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

    </div>
</nav>