<!doctype html>
<html>
    <head>
        <% include ../head %>
    </head>

<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-locl"></span> Welcome </h1>
        <p>Login or Register: </p>

        <a href="./login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="./signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

    </div>
</div>
<footer>
    <% include ../footer %>
</footer>
</body>
</html>