<!doctype html>
<html>
<head>
    <% include ../head %>
</head>
<body>
<div class="container">
    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <% if (message.length > 0 ) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Login</button>

    </form>

    <hr>

    <p>Create account <a href="/signup">Signup</a> </p>
    <p>Return to: <a href="/">Home page </a> </p>

</div>
<footer>
    <% include ../footer %>
</footer>
</body>
</html>