<!doctype html>
<html>
<head>
    <% include ../head %>
</head>
<body>
<div class="container">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <header>
        <% include ../header %>
    </header>
    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Some info</h3>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                </p>
            </div>
        </div>
    </div>
</div>
<footer>
    <% include ../footer %>
</footer>
</body>
</html>