<!doctype html>
<html>

<head>
    <% include ../head %>
</head>

<body>
<div class="container">
    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <% if (message.length > 0 ) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/signup" method="post">
        <div class="form-group ">
            <div class="col-md-6">
                <label for="firstName">First name</label>
                <input id="firstName" type="text" class="form-control" name="firstName">
            </div>
            <div class="col-md-6">
                <label for="lastName">Last name</label>
                <input id="lastName" type="text" class="form-control" name="lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Signup</button>

    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a> </p>
    <p>Return to: <a href="/">Home page </a> </p>

</div>
<footer>
    <% include ../footer %>
</footer>
</body>
</html>